{% trans_default_domain 'general' %}
{% extends 'LokosShopBundle::admin.layout.html.twig' %}


{% block content %}
    <div>
        <div>
            <a class="btn btn-success" href="{{ path('lokos_shop_admin_attribute_form', {id:'new'}) }}">Add attribute</a>
        </div>
        <ul>
            {% for category in categories %}
                    <h3>{{ category.name }}</h3>
                    {% for attribute in category.attributes %}
                        <li><a href="{{ path('lokos_shop_admin_attribute_form', {id:attribute.id}) }}">{{ attribute.name }}</a></li>
                    {% endfor %}
            {% else %}
                <li><h2>Nothing found</h2></li>
            {% endfor %}
        </ul>
    </div>
{% endblock content  %}