{% trans_default_domain 'general' %}
{% extends 'LokosShopBundle::admin.layout.html.twig' %}


{% block content %}
    <div>
        <div>
            <a href="{{ path('lokos_shop_admin_product_form', {id:'new'}) }}">Add Product</a>
        </div>
        <ul>
            {% for product in products %}
                <li><a href="{{ path('lokos_shop_admin_product_form', {id:product.id}) }}">{{ product.name }}</a></li>
            {%  else %}
                <li><h2>Nothing found</h2></li>
            {% endfor %}
        </ul>
    </div>
{% endblock content  %}