{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th><i class="glyphicon glyphicon-copyright-mark"></i> Fruits</th>
            </tr>
        </thead>
        <tfoot></tfoot>
        <tbody>
            {% for fruit in fruits %}
                <tr>
                    <td>{{ fruit }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
