@media (min-width: 767px) {
    .navbar-nav .dropdown-menu .caret {
        transform: rotate(-90deg);
    }
}
.active{
    background-color: #66dd66;
}
.deactive{
    background-color: #a6e1ec;
}
span.ajax-error{
    color: red;
}
.tm-form-select{
    border: 1px solid;
}
.cke_textarea_inline{
    border: 1px solid;
}